/rebar

/tmp/
/releases

/lib/*/ebin/
/lib/*/priv/mibs/

/deps/migresia/
/deps/builderl/
/deps/node_package/
/deps/recon/

/bin/*.boot
/bin/*.script

.eunit
*.beam
*.plt
*.pcap
erl_crash.dump
*.tar.gz
*.orig
*~

/lib/builderl_sample_setup/
/lib/http_interface/
/lib/tcp_interface/

/erts-[0-9].[0-9]/
/erts-[0-9].[0-9].[0-9]/
/erts-[0-9].[0-9][0-9].[0-9]/
/erts-[0-9].[0-9].[0-9].[0-9]/
