%% -*- mode: erlang -*-
{deps,
 [
  {migresia,     ".*", {git, "git://github.com/yoonka/migresia.git",     {branch, "master"}}},
  {node_package, ".*", {git, "git://github.com/yoonka/node_package.git", {branch, "1.4"}}},
  {recon,        ".*", {git, "git://github.com/ferd/recon.git",          {tag,    "2.2.1"}}}
 ]
}.
